<!DOCTYPE html>
<html>
  <head>
    <title>Distributed Systems CA Project Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Distributed Systems CA Project Home Page</h1>

    <!-- Navigation links -->
    <a href="/streamAirPollutionData">Stream Air Pollution Data</a>
    <a href="/getHistoricalAirPollutionData">Get Historical Air Pollution Data</a>
    <a href="/configureAirSensorSettings">Configure Air Sensor Settings</a>
    <a href="/streamWaterPollutionData">Stream Water Pollution Data</a>
    <a href="/getHistoricalWaterPollutionData">Get Historical Water Pollution Data</a>
    <a href="/configureWaterSensorSettings">Configure Water Sensor Settings</a>
    <a href="/publishWeatherData">Publish Weather Data</a>
    <a href="/getHistoricalWeatherData">Get Historical Weather Data</a>
    <a href="/configureStationSettings">Configure Weather Station Settings</a>

    <!-- Error message display -->
    <% if(error) { %>
      <p><%= error %></p>
    <% } %>
    <p>Pick the appropriate option above</p>
  </body>
</html>
